@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sahel';
  src: url('../../public/fonts/Sahel-Black.woff2');
  font-weight: 900;
}

@font-face {
  font-family: 'Sahel';
  src: url('../../public/fonts/Sahel-Bold.woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Sahel';
  src: url('../../public/fonts/Sahel.woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Sahel';
  src: url('../../public/fonts/Sahel-SemiBold.woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Sahel';
  src: url('../../public/fonts/Sahel-Light.woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'Sahel';
  src: url('../../public/fonts/Sahel-VF.woff2');
  font-weight: 100;
}

@layer base {
  :root {
    --background: 210 20% 98%;

    --foreground: 268 87.1% 22.4%;

    --card: 0 0% 100%;

    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;

    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;

    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;

    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;

    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;

    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;

    --input: 220 13% 91%;

    --ring: 224 71.4% 4.1%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem;
  }
  .dark {
    --background: 268 87.1% 22.4%;

    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;

    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;

    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;

    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;

    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;

    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;

    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;

    --input: 215 27.9% 16.9%;

    --ring: 216 12.2% 83.9%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%;
  }
  .theme {
    --animate-shimmer-slide: shimmer-slide var(--speed) ease-in-out infinite alternate;
    --animate-spin-around: spin-around calc(var(--speed) * 2) infinite linear;
    --animate-rippling: rippling var(--duration) ease-out;
    --animate-aurora: aurora 8s ease-in-out infinite alternate;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Sahel', sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
    background-image: linear-gradient(30deg, #ff5bd9, #a53efe, #6a80ff);
  }

  .dark body {
    background-image: linear-gradient(30deg, #8d006c, #540995, #050b2b);
  }
}

.dark body {
  --sb-track-color: #f2f4f8;
  --sb-thumb-color: hsl(268 87.1% 22.4%);
  --sb-size: 10px;
}

body {
  --sb-track-color: #6c63ff;
  --sb-thumb-color: #f2f4f8;
  --sb-size: 10px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

@layer utilities {
  input.no-spinner::-webkit-outer-spin-button,
  input.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input.no-spinner {
    -moz-appearance: textfield;
  }
}

@theme inline {
  @keyframes shimmer-slide {
    to {
      transform: translate(calc(100cqw - 100%), 0);
    }
  }
  @keyframes spin-around {
    0% {
      transform: translateZ(0) rotate(0);
    }
    15%,
    35% {
      transform: translateZ(0) rotate(90deg);
    }
    65%,
    85% {
      transform: translateZ(0) rotate(270deg);
    }
    100% {
      transform: translateZ(0) rotate(360deg);
    }
  }
  @keyframes rippling {
    0% {
      opacity: 1;
    }
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
  @keyframes aurora {
  0% {
    background-position: 0% 50%;
    transform: rotate(-5deg) scale(0.9);
    }
  25% {
    background-position: 50% 100%;
    transform: rotate(5deg) scale(1.1);
    }
  50% {
    background-position: 100% 50%;
    transform: rotate(-3deg) scale(0.95);
    }
  75% {
    background-position: 50% 0%;
    transform: rotate(3deg) scale(1.05);
    }
  100% {
    background-position: 0% 50%;
    transform: rotate(-5deg) scale(0.9);
    }
  }
}